*.class

*.jar

*.war


build/smt_mupopmobileapp.jar

.classpath

build/smt_mupopmobileapp.jar

dist/smt_mupopmobileapp.war

WebContent/WEB-INF/lib/smt_mupopmobileapp.jar
/bin

*.xml

*.xml

*.xml

*.xml

*.jar
