#codeselect-panel {
	color: black;
	position: absolute;
	top:40%;
	height:60%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 99%;
}

.codeselect-button {
	color: black;
	display: table-cell;
	text-align: center;
	vertical-align: middle !important;
	font-size: 4vh;
}

#audiop {
	display: none;
}