<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#mobile">
		<template>mobile/mobile.mst</template>
		<controller id="MobileController">
		</controller>
	</view>
	
	<view id="#photoexploreremote">
		<template>mobile/photoexploreremote/photoexploreremote.mst</template>
		<controller id="PhotoExploreRemoteController">
		</controller>
	</view>

</app>