<app>
	<model id="default">
		<language>/screen['profile']/language</language>
		
		<username>/screen['profile']/username</username>
		<exhibitionid>/screen['vars']/exhibitionid</exhibitionid>
		<stationid>/screen['vars']/stationid</stationid>
		<roomid>/screen['vars']/roomid</roomid>
		<videoid>/screen['vars']/videoid</videoid>
		<oldroomid>/screen['vars']/oldroomid</oldroomid>
		<roomname>/screen['vars']/roomname</roomname>
	
	 	<exhibitions>/domain['mupop']/user['@username']/exhibition</exhibitions>
	    <exhibition>/domain['mupop']/user['@username']/exhibition['@exhibitionid']</exhibition>
	    
	  	<rooms>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/room</rooms>
	    <room>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/room['@roomid']</room>
	    
		<stations>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/station</stations>
		<station>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/station['@stationid']</station>
		<video>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/station['@stationid']/video['@videoid']</video>
		
	</model>

	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#mobile">
		<template>mobile/mobile.mst</template>
		<style>mobile/mobile.css</style>
		<controller id="MobileController">
		</controller>
	</view>
	
	<view id="#photoexploreremote">
		<template>mobile/photoexploreremote/photoexploreremote.mst</template>
		<style>mobile/photoexploreremote/photoexploreremote.css</style>
		<controller id="PhotoExploreRemoteController">
		</controller>
	</view>

	<view id="#photoinfospotsremote">
		<template>mobile/photoinfospotsremote/photoinfospotsremote.mst</template>
		<style>mobile/photoinfospotsremote/photoinfospotsremote.css</style>
		<controller id="PhotoInfoSpotsRemoteController">
			<javascript>mobile/photoinfospotsremote/PhotoInfoSpotsRemoteController.js</javascript>
		</controller>
	</view>
	
	<view id="#interactivevideoremote">
		<template>mobile/interactivevideoremote/interactivevideoremote.mst</template>
		<style>mobile/interactivevideoremote/interactivevideoremote.css</style>
		<controller id="InteractiveVideoRemoteController">
		</controller>
	</view>

	
	<view id="#coverflowremote">
		<template>mobile/image/selection/coverflowremote.mst</template>
		<style>mobile/image/selection/coverflowremote.css</style>
		<controller id="CoverFlowRemoteController">
			<javascript>mobile/image/selection/CoverFlowRemoteController.js</javascript>
		</controller>
	</view>
	
	<view id="#zoomandaudioremote">
		<template>mobile/image/spotting/zoomandaudioremote.mst</template>
		<style>mobile/image/spotting/zoomandaudioremote.css</style>
		<controller id="ZoomAndAudioRemoteController">
			<javascript>mobile/image/spotting/ZoomAndAudioRemoteController.js</javascript>
		</controller>
	</view>
	
	<view id="#languageselectionremote">
		<template>mobile/intro/language/languageselectionremote.mst</template>
		<style>mobile/intro/language/languageselectionremote.css</style>
		<controller id="LanguageSelectionRemoteController"/>
	</view>
	
	<view id="#audiotestremote">
		<template>mobile/intro/audio/audiotestremote.mst</template>
		<style>mobile/intro/audio/audiotestremote.css</style>
		<controller id="AudioTestRemoteController"/>
	</view>
</app>