html, body {
	height: 100%;
	background-color: #fff;
}

#screen, .fill-height, #coverflowremote {
	height: 100%;	
}

.contents{
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		min-height: 100%;
		padding-top: 35px;
		padding-bottom: 120px;
}

.trackpad-wrapper-spotting {
	height: 100%;
	width: 100%;
	position: relative;
}

.trackpad-wrapper-spotting .trackpad {
	position: absolute;
	border-radius: 12px;
	border: 2px solid;
	overflow: hidden;
	border-color: #358ed6;
	background-color: #fff;
	text-align: center;
}

.header {
	background-color: #33475a;
	height: 30px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding-top: 5px;
	text-transform: uppercase;	
}

#audioplayer {
	display: none;
}

#help-text {
	padding: 5px;
}

#help-button {
	display: none;
	top: 0;
	right: 0;
	padding-top: 3px;
	padding-right: 5px;
	position: absolute;
}

#previous {
	z-index: 999;
	cursor: pointer;
}

#pointer_icon {
	background-color: #ff0000;
	position: absolute;
	pointer-events: none;  
	left: 43%;
	bottom: 58px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	z-index: 1000;
	margin-left: -15px;
	margin-top: -15px;
}

.audio-bar {
	position: absolute;
	bottom: 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#progress-bar {
	padding-top: 10px;
}

#seekbar {
	width: 100%;
}

.controls {
	position: absolute;
	bottom: 0;
	height: 70px;
	line-height: 70px;
	background-color: #ECF0F1;
	text-align: center;
}

.icon-background {
	color: #f00;
	vertical-align: middle;
	cursor: pointer;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 1000px;
      -webkit-appearance: none;
      background-color: #b6b6b6;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -1000px 0 0 1000px #ec8882;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ec8882; 
}
input[type="range"]::-moz-range-track {  
  background-color: #b6b6b6;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ec8882; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #b6b6b6;
}
