html, body {
	height: 100%;
	background-color: #fff;
}

#screen, .fill-height, #audiotestremote {
	height: 100%;	
}

.header {
	background-color: #33475a;
	height: 30px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding-top: 5px;
	text-transform: uppercase;	
}

#audiotest_help {
	z-index: 999;
	cursor: pointer;
}

#audiotest_previous {
	z-index: 999;
	cursor: pointer;
}

#audio {
	text-align: center;
	padding-top: 15px;
}

#headphones {
	height: 40%;
	min-height: 40%;
	padding-top: 40px;
}

#headphones img {
	margin-left: auto;
	margin-right: auto;
}

#start {
	padding: 3px 6px;
	border-radius: 6px;
}

.red-background {
	background-color: #f00;
	border-radius:0;
	background-image: none;
	text-shadow: none;
}

.red-background:hover {
	background-color: #f00;
	border-radius:0;
	background-image: none;
}

.white {
	color: #fff;
	text-shadow: none;
}

.white:hover {
	color: #fff;
	text-shadow: none;
}

.audio-bar {
	position: absolute;
	bottom: 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#progress-bar {
	padding-top: 10px;
}

#audiotest-seekbar {
	width: 100%;
}

.controls {
	position: absolute;
	bottom: 0;
	height: 70px;
	line-height: 70px;
	background-color: #ECF0F1;
	text-align: center;
}

.icon-background {
	color: #f00;
	vertical-align: middle;
	cursor: pointer;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 1000px;
      -webkit-appearance: none;
      background-color: #b6b6b6;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -1000px 0 0 1000px #ec8882;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ec8882; 
}
input[type="range"]::-moz-range-track {  
  background-color: #b6b6b6;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ec8882; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #b6b6b6;
}

