html, body {
	height: 100%;
	background-color: #fff;
}

#screen, .fill-height, #photoinfospotsremote, #audiotestremote {
	height: 100%;	
}

.header {
	background-color: #33475a;
	height: 30px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding-top: 5px;
	text-transform: uppercase;	
}

#audio {
	text-align: center;
}

#headphones {
	height: 40%;
	min-height: 40%;
}

#headphones img {
	margin-left: auto;
	margin-right: auto;
}

#start {
	bottom: 140px;
	text-align: center;
}

#pagination {
	position: absolute;
	bottom: 0;
	height: 40px;
	line-height: 40px;
	background-color: #ECF0F1;
	text-align: center;
}

.selectedpage {
	color: #f00;
}

.selectedpage-text {
	color: #fff;
}

.earlierpage {
	color: #f00;
	opacity: 0.5;
}
